<div class="container">
    <div class="text-center">
        <p> <%= @gossip.title %> : </p>
        <H1> <%= @gossip.content %> </h1>
        <p> créé par <%= link_to @gossip.user.first_name, user_path(@gossip.user.id), class:"text-info" %> de <%= link_to @gossip.user.city.name, city_path(@gossip.user.city.id), class:"text-info" %>
    </div>
</div>
