<div class="text-center">
    <h1>Team</h1>
    <p>Seul on va plus vite, ensemble on va plus loin</p>
    <p> Chez nous il y a : <br/>
    <p>Jay, the best</p>
    <p>Mack, the hero</p>
    <p>Kim, the creative</p>
    <p>Francky, the funniest</p>
    <p>Lucas, the graphist</p>
    <p>Guillaume, the business man</p>
    <p>... et moi</p>
</div>

